# -------------------------------------------------------------
# everything is case sensitive and must be exactly as specified
# -------------------------------------------------------------

set adminPassword  not_used_so_do_not_worry_about_it


# Desripting name of server for sgf and html pages
# ------------------------------------------------
set serverName  "(CGOS) 19x19 Computer Go Server"

set htmlInfoMsg "Boardsize 19x19 - 30 minutes per side"

set portNumber  1919

# ---------------------------------------------------------
#	boardsize      
#	komi 
#	level
# ---------------------------------------------------------

set boardsize  19
set komi       7.5
set level      1800
set handiElo   100

set timeGift   0.25


# Note: the database does not have to exist, but the path to it does
# ---------------------------------------------------------------------

set database_state_file    /home/cgosboar/19x19/cgos.state
set cgi_database           /home/cgosboar/19x19/cgi.db 
set game_archive_database  /home/cgosboar/19x19/archive.db

set web_data_file /home/cgosboar/19x19/wdata.txt


# default_rating in ELO points
# ----------------------------
set defaultRating  1800.0
set minK           3.0      ;# minimum K  
set maxK           200.0    ;# maximum K


# directory where WEB pages are strored for CGOS
# ----------------------------------------------
set htmlDir  /home/cgosboar/public_html/19x19
set sgfDir  SGF


# -------------------------------------------------
# How long should an entry appear on main web page
# if there have been no games played?  (in days)
# -------------------------------------------------
set provisionalAge 0.04
set establishedAge 31.0


# If this file exists, the server stops scheduling
# game and exists after all games are complete
# -------------------------------------------------
set killFile  /home/cgosboar/killCgos19


set tools_dir /home/cgosboar/public_html/public
set bin_dir   /home/cgosboar/bin
