#games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*grid-auto-rows: minmax(380px, auto);*/
}
.game {
    border: solid lightgray;
    background: white;
    margin: 2px;
    aspect-ratio: 3 / 4;
}
.game.large {
    border: none;
    margin: 0;
    aspect-ratio: none;
}

/*
.game .player {
    min-width: 360px;
    height: 380px;
}
*/
.game.large .player {
    min-width: 90vw;
    min-height: 90vh;
}
.game.large {
    position: absolute;
    z-index: 1000;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    top: 10px;
    left: 10px;
}

.game .header {
    display: flex;
}
.game .header a {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    /*max-width: 350px;*/
    flex-grow: 1;
    flex-shrink: 1;
}
.game .header .spacer {
    margin-left: auto;
}
.game .header .buttons {
    flex-shrink: 0;
    flex-grow: 0;
}

.wgo-button::before {
	font-size: 20px;
}
.wgo-button-menu::before  {
	font-size: 20px;
    padding-top: 0px;
    padding-left: 0px;
}
button.wgo-button {
	width: 24px;
	height: 24px;
	margin: 0 3px;
}

.wgo-440 .wgo-button-multiprev,
.wgo-440 .wgo-button-multinext {
	display: inline-block;
}

.wgo-small .wgo-player-info-box-wrapper:nth-child(1),
.wgo-small .wgo-player-info-box-wrapper:nth-child(4),
.wgo-xsmall .wgo-player-info-box-wrapper:nth-child(1),
.wgo-xsmall .wgo-player-info-box-wrapper:nth-child(4) {
	display: none;
}
